node_modules
dist
.DS_Store
*.local
chunks
uploads
db/files.json
*.log
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
